<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLUE SN</title>
    <script src="socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/layout.css">

</head>

<body>
    <div id="wrapper">
        <!-- <div id="login">
                <h3>What's your name:</h3>
                <input type="text" id="txtUsername">
                <input type="button" value="Register" id="btnRegister">
        </div> -->

        <div id="chat">
            <div id="video">
                <h3 id="peerId">My peer id:</h3>
                <video id="localVideo" controls></video>
                <video id="friendVideo" controls></video>
                <br></br>
                <input type="text" placeholder="Your's friend Id" id="txtFriendId">
                <br></br>
                <button id="btnConnect">Call</button>
            </div>
            <!-- <div id="left">
                <div id="boxTitle">Users online</div>
                <div id="boxContent">
                    <div id="UserOnline"></div>
                </div>
            </div>

            <div id="right">
                <div id="sayHi">
                    Hello <span id="currentUser"></span>
                    <input type="button" id="btnLogout" value="Logout">
                </div>

                <div id="listMessage">
                </div>

                    <div id="noti">
                    </div>

                <input type="text" id="txtMessage">
                <input type="button" id="btnSendMessage" value="SendMessage">
            </div> -->
        </div>
    </div>
</body>
<script src="/bundle.js"></script>
</html>