<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLUE SN</title>
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
    <script src="socket.io/socket.io.js"></script>
</head>
<script>
    let socket = io("http://localhost:3000")
    socket.on("server-send-data",(data)=>{
        $('#data').append(data)
    })
    $(document).ready(()=>{
       $("#sendData").click(()=>{
        socket.emit("click-send-data", "Hi");
       })
    })
</script>
<body>
    <button id="sendData">Click me</button>
    <h2 id="data"></h2>
</body>
</html>